services:
  fronius-inverters:
    build: .
    container_name: fronius-inverters
    restart: unless-stopped
    command: ["python", "fronius_modbus_mqtt.py", "-d", "inverter"]
    volumes:
      - ./storage/fronius-inverters/config:/app/config:ro
      - ./storage/fronius-inverters/data:/app/data
      - ./storage/fronius-inverters/logs:/app/logs
    environment:
      - TZ=Europe/Bucharest
    networks:
      - fronius-net
    labels:
      - "com.docker.compose.project=pv-stack"
      - "io.portainer.accesscontrol.teams=pv-stack"

  fronius-meter:
    build: .
    container_name: fronius-meter
    restart: unless-stopped
    command: ["python", "fronius_modbus_mqtt.py", "-d", "meter"]
    volumes:
      - ./storage/fronius-meter/config:/app/config:ro
      - ./storage/fronius-meter/data:/app/data
      - ./storage/fronius-meter/logs:/app/logs
    environment:
      - TZ=Europe/Bucharest
    networks:
      - fronius-net
    labels:
      - "com.docker.compose.project=pv-stack"
      - "io.portainer.accesscontrol.teams=pv-stack"

networks:
  fronius-net:
    driver: bridge
